$smaller: 480px;
$medium: 768px;
$large: 1024px;

@mixin for-greater-than-smaller {
  @media (min-width: $smaller) {
    @content;
  }
}

@mixin for-greater-than-medium {
  @media (min-width: $medium) {
    @content;
  }
}
@mixin for-greater-than-larger {
  @media (min-width: $large) {
    @content;
  }
}


.favorite{
    overflow: hidden;
    position: relative;

    padding: 4rem;

    @include for-greater-than-medium(){
        padding: 5rem;
    }

    .container{

        display: flex;
        flex-direction: column;
        // border: 1px solid red;
        gap: 4rem;

        .top{
            z-index: 999;
            display: flex;
            flex-wrap: wrap-reverse;
            align-items: center;
            justify-content: space-between;
            gap: 4rem;

            
            .left{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                @include for-greater-than-medium(){
                    width: 40%;
                  }
                
                .image-container {

                    width: 100%;
                  
                    > div {
                      position: unset !important;
                    }
                  
                    .image {
                      object-fit: contain;
                      width: 100% !important;
                      position: relative !important;
                      height: unset !important;
                    }
                  }
            }

            
            .right{
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
             
                  
                @include for-greater-than-medium(){
                    width: 50%;
                }
                
                .left-top, .left-bottom{
                    .headings{
                        margin-bottom: 2rem;
                        h2{
                            font-size: 4.7rem;
                            font-weight: 700;
                            line-height: 5.5rem;
                            letter-spacing: 0em;
                            text-align: left;
                            
                        }
                    }
                    
                    .desc{
                        padding-right: 4rem;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 2rem;
                        
                        p{
                            font-size: 2.5rem;
                            font-weight: 400;
                            line-height: 2.9rem;
                            letter-spacing: 0em;
                            text-align: left;
                            z-index: 99;
                            
                            span{
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        .bottom{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 4rem;

          
            .bottom-left{

                z-index: 99;
                display: flex;
                flex-direction: column;
                width: 100%;

                @include for-greater-than-medium(){
                    width: 45%;
                }
                

                .headings{
                    // border: 1px solid red;
                    h2{
                        font-size: 4.7rem;
                        font-weight: 700;
                        line-height: 5.5rem;
                        letter-spacing: 0em;
                        text-align: left;

                    }
                }

                .desc{
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 2rem;

                    p{
                        font-size: 2.5rem;
                        font-weight: 400;
                        line-height: 2.9rem;
                        letter-spacing: 0em;
                        text-align: left;

                        span{
                            font-weight: bold;
                        }

                    }
                }
                
            }

            .bottom-right{
                z-index: 99;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 100%;


                @include for-greater-than-medium(){
                    width: 40%;
                  }

                .image-container {

                    width: 100%;

                    > div {
                      position: unset !important;
                    }
                  
                    .image {
                      object-fit: contain;
                      width: 100% !important;
                      position: relative !important;
                      height: unset !important;
                    }
                  }

            }

        }
    }
}